
.product-box {
  padding       : 10px;
  border        : 1px solid transparent;
  background    : rgba(255, 255, 255, 0.75);

  .product-img {
    img {
      height : 200px;
      margin : 0 auto;
    }
  }

  .product-name {
    color       : $text-color;
    text-align  : center;
    font-weight : 300;
    margin-top  : 10px;
  }

  .product-price {
    display     : block;
    color       : $green;
    text-align  : center;
    font-weight : 500;
  }

  &:hover {
    border-color : $border;
    background   : $bg-color;
    opacity: 1;
  }
}