.post-it {
  position: relative;
  padding: 25px 30px;
  background: rgb(248,236,116);
  box-shadow: 3px 3px 2px #9C9C9C;
  list-style: none;
  margin-bottom: 20px;

  .controls {
    position: absolute;
    top: 5px;
    right: 5px;

    a {
      padding: 3px;
      color: #545454;
    }
  }

  p {
    font-size: 20px;
    margin-bottom: 0;
  }
}